NODE_ENV=development
PORT=3000
DATABASE_URL=
JWT_SECRET=
COMMISSION_RATE=0
TRADER_DEBT_LIMIT_GB=0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
